body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin-bottom: 100px; 
} 
.carousel{
    background-color:#fceae8;
    border-radius:10px;
}
.carousel-item {
    padding: 20px 40px;
}
.price{
    color:#FF136F;
}
.btn.text-start{
    background: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%); 
    width:fit-content;
    color:#fff;
    padding:9px 25px;
    border-radius:8px;
}
.catagori{ 
    padding:10px 30px;
    border-radius: 10px; 
}
.catagori img{ 
   width: 100px;
}
.catagori-1{
    background: orange; 
}
.catagori-2{
    background: orchid; 
}
.catagori-3{
    background: blue; 
}
.card{
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer {
    padding: .5rem 1rem;
    background-color: inherit;
    border-top: none;
}
.card-body { 
    padding: 1.25rem ;
    
}
.subscribe{ 
    background-color: #fceae8;
    height: 300px;
}
.subscribe h6{ 
  color:gray;
}